# Dependencies
node_modules/

# Build artifacts
dist/
build/

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Git and OS files
.git
.gitignore
.DS_Store

# IDE configs
.vscode/
.idea/
